{% from "idl/gen_notes.jinja2" import gen_notes %}
{% from "idl/gen_attribute.jinja2" import gen_attribute %}
{% from "idl/gen_class.jinja2" import gen_class_definition_full%}
{# Create module definition, recursively. #}
{% macro gen_module_definition(module, loop) %}
{# {% if module.info.create_definition == True %} #}
{{ gen_notes(module) }}
module {{ module.name }} {
{% for submodule in module.packages %}
{{ gen_module_definition(submodule, loop) | trim | indent(4, true) }}
{% endfor %}
{% for cls in module.classes %}
{{ gen_class_definition_full(module, cls) | trim | indent(4, true) }}
{% endfor %}
}; /* {{module.name}} */
{# {% endif %} #}
{% endmacro -%}
{# Generate definitions for our custom annotations. #}
module ext {
{% for property_type in package.property_types recursive %}
{{ gen_notes(property_type) | trim | indent(4, true, false) }}
    @annotation {{property_type.property}} {
{% for type in property_type.property_types recursive %}
        {{type}}
{% endfor %}
    };
{% endfor %}
}; /* ext */
{# We start with top level module, and create definitions. #}
module {{package.name}} {
{% for child in package.packages recursive %}
{{ gen_module_definition(child, loop) | trim | indent(4, true) }}
{% endfor %}
}; /* {{package.name}} */