{% from "idl/gen_notes.jinja2" import gen_notes %}
{% from "idl/gen_annotations.jinja2" import gen_annotations %}
{# Generate enum entry #}
{% macro gen_enum_entry_internal(item, index) %}
{% if config.enum_emit_value %}
{% if "default" in item.properties and  item.properties["default"].value %}
@value({{item.properties["default"].value | trim }}) {{item.name}}
{% else %}
@value({{index}}) {{item.name}}
{% endif %}
{% else %}
{{item.name}}
{% endif %}
{% endmacro %}
{# Generate enum entry #}
{% macro gen_enum_entry(item, loop) %}
{% if loop.revindex0 == 0 %}
{{ gen_enum_entry_internal(item, loop.index0) }}
{% else %}
{{ gen_enum_entry_internal(item, loop.index0) | trim }},
{% endif %}
{% endmacro %}
{# Generate entry with notes #}
{% macro gen_enum_entry_notes(item, loop) %}
{{ gen_notes(item) | trim }}
{{ gen_enum_entry(item, loop) }}
{% endmacro %}
{# Generate enum #}
{% macro gen_enum(cls) %}
{{ gen_notes(cls) -}}
{{ gen_annotations(cls.properties) -}}
enum {{ cls.name }} {
{% for item in cls.attributes %}
{{ gen_enum_entry_notes(item, loop) | trim | indent(4, true) }}
{% endfor %}
};
{%- endmacro %}
