{% from "idl/gen_notes.jinja2" import gen_notes %}
{% from "idl/gen_annotations.jinja2" import gen_annotations %}
{#
    Generate tyoedef declaration.
    Typedef appears only once, either in declaration or definition section.
#}
{% macro gen_typedef(cls) %}
{%- set min_items = cls.properties.get('ext::minItems') %}
{%- set max_items = cls.properties.get('ext::maxItems') %}
{%- set is_fixed_array = min_items and max_items and min_items.value == max_items.value %}
{{ gen_notes(cls) -}}
{%- if not is_fixed_array %}
{{ gen_annotations(cls.properties) -}}
{%- endif %}
{%- if is_fixed_array %}
typedef {{cls.parent_type}} {{cls.name}}[{{max_items.value}}];
{%- else %}
typedef {{cls.parent_type}} {{cls.name}};
{%- endif %}
{%- endmacro %}